@font-face {
    font-family: "HostGrotesk-Medium";
    src: url("../assets/fonts/Host_Grotesk/static/HostGrotesk-Medium.ttf");
        format:("truetype");
}
@font-face {
    font-family: "HostGrotesk-Light";
    src: url("../assets/fonts/Host_Grotesk/static/HostGrotesk-Medium.ttf");
        format:("truetype");
}

:root {
    --primary-color: #bed8ff;
    --background-color:  #ebf1fd;
}

body {
    background-color: var(--background-color);
}

.center {
    padding-left: 0.90rem;
    margin: 10px auto 10px auto;
    width: 100%;
    text-align: center;
}

h1 {
    font-family: "HostGrotesk-Medium";
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}


